*{
  font-family: "Arial";
}
h1 {
  font-family: "Verdana",monospace;
  font-size: 50px;
}
i {
  color: green;
}
b {
  color: red;
}

p#paragraph {
  text-shadow: 2px;
  font-family:sans-serif;
  font-size: 30px
}
